.wrapper {
    background-color: lightblue;
  }
  
  header {
    background-color: lightblue;
    padding: 2px;
    text-align: center;
    color: black;
  }
  
  nav {
    background-color: lightblue;
    margin: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
  }
  
  a {
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  /* unvisited link */
  a:link {
    color: #2718cf;
  }
  
  /* visited link */
  a:visited {
    color: #2718cf;
  }
  
  /* mouse over link */
  a:hover {
    color: #2718cf;
    background-color: white;
    padding: 2px;
  }
  
  /* selected link */
  a:active {
    color: white;
  }
  
  main {
    background-color: lightblue;
  }
  
  footer {
    background-color: lightgrey;
    padding: 15px;
    text-align: center;
    color: black;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    background-color: white;
    border: 3px solid black;
  }
  
  th {
    background-color: #57c595;
    color: white;
  }
  
  td {
    text-align: center;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #e6e3e3;
  }